{% extends 'Kiosk/base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-8">
        <div class="card">

            <div class="card-header">
                <h5 class="card-title"> Update customer details</h5>
            </div>

                <form class="add-form container-fluid" method="POST" action="{% url 'update_customer' pk=c.pk %}"> {% csrf_token %}
                    <div class="form-group">
                        <label for="Customer"> Customer Name: </label>
                        <input type="text" class="form-control" id="name" name="name" value='{{c.name}}'>
                        <label for="Address"> Food: </label>
                        <input type="text" class="form-control" id="address" name="address" value='{{c.address}}'>
                        <label for="City"> City: </label>
                        <input type="text" class="form-control" id="city" name="city" value='{{c.city}}'>
                    </div>
                    <button type="submit" class="mt-3 btn btn-primary float-right">Update</button>
                </form>
        </div>
    </div>
{% endblock %}